.nav{
 
  background-color: #F8C471;
  display: flex;
  position: fixed; 
  width: 100vw;
  height: 55px;
  z-index: 99;
  margin: 0;   
  top: 0;
  /* padding:0 20%; */
  justify-content: center;
  
}


.contain{
  /* margin: auto; */
  align-items: center;
  display:flex;
  /* flex-direction: row;  */
  /* z-index: 99; */
  justify-content: space-between;
  width: 70%;
  max-width: 800px;
}

/* .btnIntro{
  border:none;
  background-color: #F8C471;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;  
  top:0.8em;  
  left: 1.5em;
  position: absolute;  
} */

/* .divActivity{ */
  /* top:0.8em;   */
  
  /* margin: 0em; */
/* } */

.btnActivity{
  border:none;
  background-color: #F8C471;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  /* top:0.8em;  
  position: absolute;
  margin: 0em; */
}
/* .searchBar{ */
  /* position:absolute; */
  /* left:0.5em; */
  /* top:12% */
/* } */

.reload{
  border:none;
  background-color: #F8C471;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
  left:32em;
  position: absolute;
  top:0.3em;
}

.select{  
  position: absolute;
  padding-top:0.7em;
  left:26.3em;
  top:27%
}

.order{
  background-color: #F8C471;
  height: 2.0em;
}

.continent{
  background-color: #F8C471;
  height: 2.0em;
}
.activity{
  background-color: #F8C471;
  height: 2.0em;
}