.container{
    
    flex-direction: column;
    height: 100%;
}

.cardsCont{
    height: 100%;
    display: flex;
    padding:0;
    margin-top: 5em;
    flex-direction: column;
    
}



.paginationTop{
    padding-bottom: 3em;
}
.paginationBottom{
    padding-top: 3em;
}
.cardsComponent{    
    display:grid;   
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 3em;
    column-gap: 8em;    
}

@media (max-width: 800px) {
 .cardsComponent{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3em;
    column-gap: 2.5em;    
 }   
}

/* 
.buttons{
    position: absolute;
    right:40px;
    top: 20px;
    padding: 0%;
} */


/* 
.searchBar{
    position: absolute;
    right: 170px;
    top: 90px;
}
 */

/* .reload{
    position: relative;
    left: 170px;
    top: 90px;
} */

/* 
.btn{
    border-radius: 10px;
    font-size: 20px;
    padding: 10px;
    background-color:#F4D03F ;
    color: white;
    font-weight: bold;
    border: none;
} */

/* 
.btn2{
    border-radius: 10px;
    font-size: 15px;
    padding: 7px;
    margin-left: 6px;
    background-color:#F4D03F ;
    color: white;
    font-weight: bold;
    border: none;
} */

/* 
.ordFilter{
    
    position: relative;
    left: 40px;
    top: 90px;
    
} */

/* .cards */
/* display: inline-block;
margin-left: 1em;
margin-right: 1em;
margin-top: 4em;     */