.containFilter{
  display: flex;
  /* padding:3em;     */
  width: 100vw;
  z-index: 99;
  margin: auto;       
  align-items: center;
  display:flex;
  justify-content: space-between;
  width: 100%;
  max-width: 900px;
}

.reload{
  background-color: #F8C471;
  border:none;
  color: black;
  height: 35px;
  width: 180px;
  text-align: center;
  font-size: larger;
  border-radius:10px;
  
  
}

/* .divReload{

} 

 .select{

} */

.order{
  background-color: #F8C471;
  border:none;
  color: black;
  height: 35px;
  width: 250px;
  text-align: center;
  font-size: larger;
  border-top-left-radius:10px;
  border-bottom-left-radius:10px;
}


.continent{
  background-color: #F8C471;
  border:none;
  color: black;
  height: 35px;
  width: 200px;
  text-align: center;
  font-size: larger;
  
}

.activity{
  background-color: #F8C471;
  border:none;
  color: black;
  height: 35px;
  width: 200px;
  text-align: center;
  font-size: larger;
  border-top-right-radius:10px;
  border-bottom-right-radius:10px;
}