.foot{
  background-color: #F8C471;
  display: flex;
  position: fixed; 
  width: 100vw;
  height: 55px;
  z-index: 99;
  margin: 0;   
  bottom: 0;
  justify-content: center;
}
.contain{   
   align-items: center;
   display:flex;
   justify-content: space-between;
   width: 50%;
   max-width: 400px;

}
/* .divName{

} */
.divLinkedin{
  display: flex;
}
.divGithub{
  display: flex;
}

.linkedin{
  display: flex;
  width: 30px;
  height: 30px;
}
.github{
  display: flex;
  width: 30px;
  height: 30px;
}

h3{
  font-family:'Courier New', Courier, monospace;
}