.foot{
  background-color: #F8C471;
  display: flex;
  position: fixed; 
  width: 100vw;
  height: 55px;
  z-index: 99;
  margin: 0;   
  /* top: 0; */
  bottom: 0;
  /* padding:0 20%; */
  justify-content: center;
}
.contain{
   /* margin: auto; */
   align-items: center;
   display:flex;
   /* flex-direction: row;  */
   /* z-index: 99; */
   justify-content: space-between;
   width: 50%;
   max-width: 400px;

}
/* .divName{

} */
.divLinkedin{
  display: flex;
  /* width: 30px;
  height: 30px; */
}
.divGithub{
  display: flex;
  /* width: 30px;
  height: 30px; */
}

.linkedin{
  display: flex;
  width: 30px;
  height: 30px;
}
.github{
  display: flex;
  width: 30px;
  height: 30px;
}