.paginado{
    list-style-type:none;
    

}

.number{
    display: inline;
    text-align: center;
    margin-right: 16px;
    color: white;
    position:relative;
    bottom:0px;
    /* padding-bottom: 1em; */
    /* width: 10%; */
    height: 32px;
    padding-bottom: 16px;
    
}

a{
    color: white;
    font-weight: bold;
    padding-bottom: 1em;
    
}

a:hover{
    color:black;
}