.contain{
  display: flex;  
  width: 100vw;
  height: 55px;
  z-index: 99;
  margin: 0;   
  justify-content: center;
}

.cards{
  display:flex;
  justify-content: space-between;
  width: 80%;
  max-width: 900px;
  margin-top: 10em;
    
    
}
.detailCountry{
    background-color: #F8C471;
    text-align: left;
    padding: 8px;
    border: 7px solid #CC7800;
}

.titleActivities{
    background-color: #F8C471;    
}


.detailActivities{    
    background-color: #F8C471;    
}
.return{
    
    padding: 60px;
    
}

.btn{
    border-radius: 10px;
    font-size: 30px;
    padding: 10px;
    background-color:#F4D03F ;
    color: white;
    font-weight: bold;
    border: none;
}

.btn:hover {
    background-color: white;
    color:#F4D03F;
}

.infoActiv{
    background-color: #F8C471;    
    
    text-align: left;
    margin-top: 1em;
    padding: 8px;
    border: 7px solid #CC7800;
    
}

p{
    color: black;
}

h2{
    font-family:'Courier New', Courier, monospace;
  }
